#header,
#header-main div {
    width: 100%;
    justify-content: space-between;

    img {
        margin: 5px;
        border-radius: 5%;
        height: 10vh;
    }

    div h1 {
        align-self: end;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    a {
        color: var(--secondary);
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover {
        color: var(--primary);
        text-decoration: underline;
    }
}

#header-main {
    margin: 5px 10px;
}