#main-body #main {
    background-color: var(--bg);
    flex: 2;
    margin: 0 5%;
}

#container {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.box {
    min-width: 10vw;
    min-height: 10vh;
    background-color: var(--secondary);
    margin: 10px;
}

#playing {
    min-width: 60%;
    max-width: 80%;
    height: 600px;

    flex: 2;

    justify-content: space-between;

    #volume-holder {
        filter: var(--contrast-filter);
        position: relative;
        top: 0;
        height: 30px;
        margin: 0;
    }

    #banner {
        height: 460px;
        width: 70%;
        margin: 10px 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #button-holder {
        width: 100%;
        gap: 30%;
    }

    button {
        display: inline-block;
        text-transform: uppercase;
        height: 30px;
        width: 30px;
        border: 0;
        background-color: transparent;
    }

    #back {
        background-image: url('../media/img/back.png');
        background-size: cover;
        filter: var(--contrast-filter);
    }

    #play {
        background-image: url('../media/img/play.png');
        background-size: cover;
        filter: var(--contrast-filter);
    }

    #pause {
        background-image: url('../media/img/pause.png');
        background-size: cover;
        filter: var(--contrast-filter);
    }

    #next {
        background-image: url('../media/img/next.png');
        background-size: cover;
        filter: var(--contrast-filter);
    }

    #timeline-holder {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        background-color: var(--secondary);
        color: var(--contrast);
        justify-content: space-between;
        align-items: center;
        text-align: center;

        span {
            width: 10%;
            height: inherit;
        }

        input {
            filter: var(--contrast-filter);
            flex-grow: 1;
        }
    }
}

#queue-holder {
    min-width: 15%;
    max-width: 30%;
    height: 600px;
    color: var(--bg);
    flex: 2;

    overflow: auto;

    ul {
        list-style: none;
        padding: 0;
        text-align: right;
        align-items: end;

        hr {
            width: 100%;
        }

        li {
            margin-top: 5px;
            margin-left: 10px;
        }

        li,
        p {
            padding: 5px 0;
            padding-right: 10px;
        }

        li a {
            float: right;
            align-items: center;
            cursor: pointer;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 5%;
        }

        li a:hover {
            text-decoration: underline;
        }

        p {
            font-size: 0.75rem;
        }

        .album {
            font-weight: bold;
        }
    }
}

.now-playing {
    font-weight: bold;
}

.now-playing::before {
    content: ' ';
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    animation: now-playing 3s infinite;
}

@keyframes now-playing {

    0%,
    100% {
        background-color: var(--bg);
        border-top-right-radius: 25%;
        border-bottom-right-radius: 25%;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
        transform: scale(1);
    }

    50% {
        background-color: var(--contrast);
        border-radius: 100%;
        transform: scale(1.5);
    }
}

#mood {
    margin: 10px auto;

    #toggle-mood-form {
        font-size: 1.25rem;
        padding: 20px;
        border-radius: 25px;
        border-color: transparent;
        margin-bottom: 5px;
        background-color: var(--secondary);
        color: var(--contrast);
        cursor: pointer;
    }

    #toggle-mood-form:active {
        color: white;
    }

    #mood-form {
        border: 1px solid black;
        border-radius: 25px;
        width: 35%;
        margin-top: 10px;

        div {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        input {
            display: none;
        }

        label {
            text-align: center;
            width: 40%;
            margin: 5px;
            padding: 5px 0;
            background: linear-gradient(to left, var(--bg) 50%, var(--primary) 50%) right;
            background-size: 200% 100%;
            cursor: pointer;
        }

        label:hover {
            background-position: left;
            transition: all 1s ease;
        }

        label.active {
            transition: 1s ease;
            background-position: left;
            color: var(--contrast);
        }

    }


}