#main {
    flex: 2;
    margin: 0 5%;
}

#loginCell,
#registerCell {
    width: 60%;
    background-color: var(--secondary);
    text-align: center;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    color: var(--contrast);

    a {
        color: var(--contrast);
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover {
        color: var(--contrast2);
    }

    label,
    span {
        margin: 5px 0;
    }

    input {
        margin: 5px 0;
    }
}

#users-grid {
    grid-template: repeat(autofill, 20px) / 1fr 1fr 1fr 2fr;

    grid-template-areas:
        "head head head head"
        "user user user user user";

    justify-content: space-between;
    align-items: center;

    div {
        grid-area: "user";
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
        font-size: 1.5rem;
    }

    td {
        font-size: 1.3rem;
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}