#main {
    height: 60vh;
    flex: 2;
    margin: 0 5%;
}

#loginCell,
#registerCell {
    width: 60%;
    background-color: var(--secondary);
    text-align: center;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    color: var(--contrast);

    a {
        color: var(--contrast);
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover {
        color: var(--contrast2);
    }

    label,
    span {
        margin: 5px 0;
    }

    input {
        margin: 5px 0;
    }
}