:root {
    --bg: #eee9db;
    --bg-filter: invert(91%) sepia(16%) saturate(397%) hue-rotate(325deg) brightness(108%) contrast(87%);
    --primary: #786956;
    --primary-filter: invert(43%) sepia(17%) saturate(533%) hue-rotate(354deg) brightness(92%) contrast(87%);
    --secondary: #40382e;
    --secondary-filter: invert(16%) sepia(25%) saturate(535%) hue-rotate(354deg) brightness(93%) contrast(81%);
    --contrast: #e4e275;
    --contrast-filter: invert(96%) sepia(74%) saturate(663%) hue-rotate(356deg) brightness(94%) contrast(90%);
    --contrast2: #dbd995;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg);
    font-size: 20px;
    font-family: oxygen, trebuchet ms, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
}

.col {
    flex-direction: column !important;
}

.grid {
    display: flex;
    width: 100%;
}

.hide {
    display: none !important;
}